html {
  height: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #5c5d63;
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  max-width: 100%;
}

#header {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 20px 0px;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

#resume {
  color: white;
  padding: 13px 20px;
  border-radius: 10px;
  background-color: #5d5c61;
}

#resume:hover {
  background-color: grey;
}

.headeritem {
  display: flex;
  align-items: center;
}

#biopic {
  width: 350px;
  height: auto;
  border-radius: 10px;
  margin-left: 180px;
  border: solid black;
}

#bio {
  display: flex;
  padding: 100px 0px;
  width: 100%;
  justify-content: space-around;
  background-color: white;
  align-items: center;
}

#biocontent {
  margin-right: 400px;
  padding-left: 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 300px;
}

.biotitle {
  font-size: 40px;
  width: 800px;
}

.biodescription {
  font-size: 20px;
  width: 500px;
  color: grey;
}

#projects {
  padding: 50px 0px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: grey;
  color: white;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 350px;
  gap: 10px;
}

.projectimage {
  border-radius: 10px;
  height: 250px;
  width: auto;
  transition: all 0.2s linear;
}

a:hover {
  color: grey;
}

.projectimage:hover {
  transform: scale(1.1);
}

.project-image-contain {
  height: 250px;
  width: auto;
  border: solid black 2px;
  overflow: hidden;
  border-radius: 10px;
}

.extra-project {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 15px;
}

#otherproject-title {
  margin-top: -2px;
}

#experience {
  padding: 300px 0px;
  background-color: white;
  width: 100%;
}

.highlighted {
  color: rgb(112, 55, 55);
}

.other-titles {
  color: rgb(21, 18, 18);
}

#footer {
  padding: 10px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.links {
  display: flex;
  gap: 20px;
}
ul {
  list-style: none;
}
